# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilaciones
assets/css/
!.gitkeep

# Entorno
.env
.env.local
.env.*.local

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
*.log