# Ruby / Jekyll
.bundle/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Archivos temporales y de sistema
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Node.js (si usas npm para estilos/scripts)
node_modules/
package-lock.json
yarn.lock
assets\js\dist/*.map
npm-debug.log

# Esbuild output
assets/js/dist/*.map

# Archivos personales o sensibles
.env
*.local
*.key
*.pem

# Archivos de configuración de editores
# VS Code
.vscode/

# JetBrains / WebStorm / PyCharm / RubyMine
.idea/

# Otros
*.bak
