<footer class="text-center py-4">
  <div class="container">

    <!-- Redes Sociales -->
    <div class="mb-3">
      <!--<a href="https://bsky.app/profile/cristinafg-it.bsky.social" target="_blank" class="text-success mx-2">
        <i class="fa-brands fa-bluesky fa-2x"></i>
      </a> -->
      <a href="https://www.linkedin.com/in/marta-paz-ogle-639016132"
         class="icon-linkedin" aria-label="LinkedIn" target="_blank" rel="noopener">
      </a>
      <a href="https://github.com/mi.paz.coaching"
         class="icon-github" aria-label="GitHub" target="_blank" rel="noopener">
      </a>
      <!--<a href="https://kaggle.com/chispithal" target="_blank" class="text-success mx-2">
        <i class="fa-brands fa-kaggle fa-2x"></i>
      </a>
      <a href="https://notion.so/USUARIO" target="_blank" class="text-success mx-2">
        <i class="fa-brands fa-notion fa-2x"></i>
      </a>
      <a href="https://medium.com/@cristinafg.it" target="_blank" class="text-success mx-2">
        <i class="fa-brands fa-medium fa-2x"></i>
      </a> -->
      <a href="mailto:mi.paz.coaching@gmail.com"
         class="icon-email" aria-label="Email">
      </a>
    </div>

    <!-- Texto pequeño -->
    <small>© {{ site.time | date: '%Y' }} {{ site.title }}. Todos los derechos reservados.</small>


  </div>
</footer>
  