/* ====================================
   13. Botones Outline
==================================== */

[class^="btn-outline-verde-"] {
  border: 2px solid;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  display: inline-block;
  background-color: var(--btn-background-color);
  backdrop-filter: blur(2px);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

/* Verde 1 */
.btn-outline-verde-1 {
  border-color: var(--btn-verde-1);
  color: var(--btn-verde-1);
}
.btn-outline-verde-1:hover,
.btn-outline-verde-1:focus {
  background-color: var(--btn-verde-1);
  color: var(--btn-text-hover-light);
  outline: none;
  box-shadow: 0 0 0 3px rgba(34, 139, 34, 0.5);
}

/* Verde 2 */
.btn-outline-verde-2 {
  border-color: var(--btn-verde-2);
  color: var(--btn-verde-2);
}
.btn-outline-verde-2:hover,
.btn-outline-verde-2:focus {
  background-color: var(--btn-verde-2);
  color: var(--btn-text-hover-light);
  outline: none;
  box-shadow: 0 0 0 3px rgba(46, 204, 113, 0.5);
}

/* Verde 3 */
.btn-outline-verde-3 {
  border-color: var(--btn-verde-3);
  color: var(--btn-verde-3);
}
.btn-outline-verde-3:hover,
.btn-outline-verde-3:focus {
  background-color: var(--btn-verde-3);
  color: var(--btn-text-hover-light);
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 128, 0, 0.5);
}

/* Verde 4 */
.btn-outline-verde-4 {
  border-color: var(--btn-verde-4);
  color: var(--btn-verde-4);
}
.btn-outline-verde-4:hover,
.btn-outline-verde-4:focus {
  background-color: var(--btn-verde-4);
  color: var(--btn-text-hover-light);
  outline: none;
  box-shadow: 0 0 0 3px var(--info-color);
}
